* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    min-height: 100vh;
    background-color: var(--base);
}
body {
  animation: onload ease 3.5s;
}
.a {
  text-decoration: none;
  color: var(--cont-d);
  position: relative;
  display: inline-flex;
  justify-content: center;
}
.a::before {
  content: '';
  background-color: currentcolor;
  height: .16em;
  width: 0%;
  position: absolute;
  bottom: 0;
  border-radius: .16em;
  transition: all .4s ease;
}
.a:hover::before {
  width: 100%;
}
.fsf {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  grid-gap: .5rem;
  padding: .5rem;
}
.scroll_progress {
  color: var(--high);
  display: flex;
  align-items: center;
}

#contact {
  background-color: var(--high-d);
  height: 80vh;
  position: relative;
  z-index: 3;
  display: grid;
  place-content: center;
  color: var(--cont);
}
.contact-card li {
  cursor: pointer;
  color: var(--cont-d);
}
.contact-card {
  background-color: var(--base);
  padding: 5rem 8rem;
  border-radius: 3rem;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
@keyframes onload {
  0% {
   background-color:var(--high);
   opacity:0
  }
  to {
   opacity:1
  }
}
.lovis {
  display: grid;
  place-content: center;
  color: var(--high);
  text-decoration: underline;
  font-weight:bold;
  font-size: large;
  text-align: center;
}
.lovis .t {
  font-size: small;
  font-weight: 400;
}
::selection {
  color: var(--base-d);
  background-color: var(--high-d);
}
hr {
  margin: 0.5rem;
}
#gif,
#snow {
  text-align: center;
  padding: 1rem;
}
pre {
  background-color: var(--base-l);
  outline: solid 1px var(--high);
  padding: 0.5rem;
}