* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
  animation: onload ease 3.5s;
}
#intro {
    background-position: center;
    height: 90vh;
    width: 100vw;
    background-size: cover;
    color: var(--cont);
    background-color: var(--base);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    padding: 1.5em;
}
.type {
    --typewriterSpeed: 6s;
    --typewriterCharacters: 33;
    --bg-color: var(--base);
    font-size: clamp(1rem, 3vw, 3rem);
    position: relative;
    font-family: "Source Code Pro", monospace;
    position: relative;
    width: max-content;
  }
  
  .type::before,
  .type::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .type::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
  }
  
  .type::after {
    width: 0.125em;
    background: var(--cont);
    animation: typewriter var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite;
  }
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes blink {
    to {
      background: transparent;
    }
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
/*
           (                 ,&&&.
            )                .,.&&
           (  (              \=__/
               )             ,'-'.
         (    (  ,,      _.__|/ /|
          ) /\ -((------((_|___/ |
        (  // | (`'      ((  `'--|
      _ -.;_/ \\--._      \\ \-._/.
     (_;-// | \ \-'.\    <_,\_\`--'|
     ( `.__ _  ___,')      <_,-'__,'
jrei  `'(_ )_)(_)_)'
*/
.pfp {
    height: clamp(2rem, 10vmax, 5rem);
    aspect-ratio: 1;
    /* background-image: url(assets/pumuckl.jpg); */
    background-size: cover;
    border-radius: 50%;
    margin: 0 4%;
    transition: all .4s ease;
    scale: 1.1;
    overflow: hidden;
}
.pfp img {
  height: 100%;
}
.pfp-cont {
    padding: 1.5em 2rem;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
    background-color: var(--base);
    width: clamp(260px, 30vw, 400px);
    border-radius: 2.5rem;
}
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: var(--base-d);
    color: var(--cont);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    font-family: 'Roboto', sans-serif;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--base-d) transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
.cont svg {
    color: var(--high-l);
}
.cont svg:hover {
    size: 1.2;
    color: var(--high);
}
.discord, .mail, .mastodon {
    cursor: pointer;
    transition: all .3s ease;
}
.discord:hover , .mail:hover , .mastodon:hover {
  scale: 1.2;
}
.pfp:hover {
  scale: 1.3;
}
.cont {
  display: grid;
  grid-auto-flow: column;
  grid-gap: .5rem;
}
.intro-img {
  background-image: url(../assets/Pauli.jpg);
  height: 45vh;
  position: absolute;
  width: 100vw;
  top: 0;
  background-size: cover;
  background-position: center;
}
/* 
                \||/
                |  @___oo
      /\  /\   / (__,,,,|
     ) /^\) ^\/ _)
     )   /^\/   _)
     )   _ /  / _)
 /\  )/\/ ||  | )_)
<  >      |(,,) )__)
 ||      /    \)___)\
 | \____(      )___) )___
  \______(_______;;; __;;;
*/
nav {
  position: fixed;
  background-color: var(--base-l);
  z-index: 4;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: .3rem 1em;
  width: 100vw;
  box-shadow: -.5rem 1rem 1rem var(--base-d);
  position: sticky;
  top: 0;
  z-index: 4;
}
nav svg {
  color: var(--high-l);
}
nav div:hover svg, nav a:hover svg {
  color: var(--high);
}
nav div:hover, nav a:hover {
  scale: 1.15;
}
nav div, nav a {
  transition: all .4s ease;
}
nav .tooltiptext:hover {
  scale: none;
}
.top_cookie {
  padding: 3%;
}
.nav-tooltip {
  position: relative;
  display: inline-block;
}

.nav-tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: var(--base-d);
  color: var(--cont);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -120%;
  left: -50%;
  opacity: 0;
  transition: opacity 0.3s;
  font-family: 'Roboto', sans-serif;
}
.nav-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
#about svg {
  height: 1.3em;
}
#about {
  background-color: var(--base-l);
  display: grid;
  place-items: center;
  height: 50vh;
  color: var(--cont);
}
.trans-intro-about {
  height: 10vh;
  background-image: linear-gradient(0deg, var(--base-l) 35%, var(--base) 100%);
}
#about ul {
  padding: clamp(2rem, 20vh, 5rem) clamp(2rem, 20vw, 8rem);
  margin: 1rem;
  border: var(--base-d) solid 3px;
  border-radius: clamp(1rem, 40%, 5rem);
  box-shadow: inset 0 0 2rem var(--base);
}

.a {
  text-decoration: none;
  color: var(--cont-d);
  position: relative;
  display: inline-flex;
  justify-content: center;
}
.a::before {
  content: '';
  background-color: currentcolor;
  height: .16em;
  width: 0%;
  position: absolute;
  bottom: 0;
  border-radius: .16em;
  transition: all .4s ease;
}
.a:hover::before {
  width: 100%;
}
.trans-about-hobb {
  background:
  linear-gradient(135deg, var(--base-l) 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, var(--base-l) 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, var(--base) 25%, transparent 25%),
  linear-gradient(45deg, var(--base) 25%, transparent 25%);
  background-size: 6rem 10rem;
  background-color: var(--high);
  height: 10rem;
}
#hobb {
  /* min-height: fit-content; */
  width: 100vw;
  z-index: -1;
  background-color: var(--base);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  flex-wrap: wrap;
}
.syscheck {
  display: none;
}
.config {
  position: fixed;
  top: 3.5rem;
  left: 3.5rem;
  background-color: var(--base-l);
  box-shadow: .5rem .5rem .5rem var(--base-d); 
  translate: -100vmax;
  z-index: 5;
  transition: all .5s ease;
  border-radius: 1rem;
  padding: 1rem;
  color: var(--cont);
}
#config-toggle-input:checked ~ .config {
  translate: none;
  display: block;
}
.tree{
  --spacing : 1.5rem;
  --radius  : 10px;
  color: var(--cont);
}

.tree li{
  display      : block;
  position     : relative;
  padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul{
  margin-left  : calc(var(--radius) - var(--spacing));
  padding-left : 0;
}

.tree ul li{
  border-left : 2px solid var(--cont-d);
}

.tree ul li:last-child{
  border-color : transparent;
}

.tree ul li::before{
  content      : '';
  display      : block;
  position     : absolute;
  top          : calc(var(--spacing) / -2);
  left         : -2px;
  width        : calc(var(--spacing) + 2px);
  height       : calc(var(--spacing) + 1px);
  border       : solid var(--cont-d);
  border-width : 0 0 2px 2px;
}

.tree summary{
  display : block;
  cursor  : pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker{
  display : none;
}

.tree summary:focus{
  outline : none;
}

.tree summary:focus-visible{
  outline : 1px dotted #000;
}

.tree li::after,
.tree summary::before{
  content       : '';
  display       : block;
  position      : absolute;
  top           : calc(var(--spacing) / 2 - var(--radius));
  left          : calc(var(--spacing) - var(--radius) - 1px);
  width         : calc(2 * var(--radius));
  height        : calc(2 * var(--radius));
  border-radius : 50%;
  background    : var(--high-d);
}

.tree summary::before{
  content     : '+';
  z-index     : 1;
  background  : var(--high);
  color       : var(--base);
  line-height : calc(2 * var(--radius) - 2px);
  text-align  : center;
}

.tree details[open] > summary::before{
  content : '−';
}
/*
       .
      ":"
    ___:____     |"\/"|
  ,'        `.    \  /
  |  O        \___/  |
~^~^~^~^~^~^~^~^~^~^~^~^~
*/
.exit svg {
  color: var(--high-l);
  transition: all .4s ease;
}
.exit:hover svg {
  scale: 1.1;
  color: var(--high);
}
#mehrw {
  height: 100vh;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  --selected: 1;
  translate: calc(calc(var(--selected) - 1) * -100vw);
  width: 200vw;
  overflow-y: hidden;
  /* overflow-x: scroll; */
  transition: all .75s ease-in-out;
}
#mehr {
  overflow-x: hidden;
  width: 100vw;
  position: sticky;
  top: 3rem;
  background-color: var(--base);
  /* z-index: -1; */
}
.foto,.pc {
  height: 90vh;
  scale: 1;
}
.foto {
  background-color: var(--base-d);
}
.pc {
  background-color: var(--base-l);
}
.scrollerw {
  position: absolute;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: .5rem;
}
.scroller {
  background-color: var(--base);
  padding: .5rem;
  border-radius: 1.5rem;
  box-shadow: .2rem .2rem .4rem var(--cont-l);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.scroller button {
  background-color: transparent;
  border: none;
  transition: all .5s ease;
}
.scroller button svg {
  color: var(--high-l);
}
.scroller button:hover {
  scale: 1.2;
}
.fsf {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  grid-gap: .5rem;
  padding: .5rem;
}
.scroll_progress {
  color: var(--high);
  display: flex;
  align-items: center;
}
.config input {
  background-color: var(--base-l);
  color: var(--cont);
  border: solid 2px var(--base-d);
  padding: .3em;
  margin: .2em;
  border-radius: .8em;
  transition: all .5s ease;
}
.config input:hover {
  scale: 1.1;
  background-color: var(--base-d);
  color: var(--cont-l);
}
.config .slider:hover {
  scale: 1;
  background-color: var(--base-l);
  color: var(--high);
}
.card {
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
}
.card {
  background-color: var(--base-d);
  width: 25rem;
  height: 50vh;
  margin: 2rem;
  position: relative;
  isolation: isolate;
  box-shadow: .5rem .5rem 1rem var(--base-d);
}
.card-img-w {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all .75s ease-in-out;
  z-index: 2;
  background-color: var(--base-d);
}
.card-content {
  position: absolute;
  height: 100%;
  display: grid;
  place-content: center;
  color: var(--cont-l);
}
.card ul {
  margin-left: 1rem;
}
.mehr-a {
  bottom: 0;
  left: calc(50% - 2ch);
  position: absolute;
  padding: 0.2em;
}
/*
       -''--.
       _`>   `\.-'<
    _.'     _     '._
  .'   _.='   '=._   '.
  >_   / /_\ /_\ \   _<
    / (  \o/\\o/  ) \
    >._\ .-,_)-. /_.<
jgs     /__/ \__\ 
          '---'     E=mc^2
*/
#contact {
  background-color: var(--high-d);
  height: 80vh;
  position: relative;
  z-index: 3;
  display: grid;
  place-content: center;
  color: var(--cont);
}
.contact-card li {
  cursor: pointer;
  color: var(--cont-d);
}
.contact-card {
  background-color: var(--base);
  padding: 5rem;
  border-radius: 3rem;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
@keyframes onload {
  0% {
   background-color:var(--high);
   opacity:0
  }
  to {
   opacity:1
  }
}
.lovis {
  display: grid;
  place-content: center;
  color: var(--high);
  text-decoration: underline;
  font-weight:bold;
  font-size: large;
  text-align: center;
}
.lovis .t {
  font-size: small;
  font-weight: 400;
}
.resources {
  color: var(--cont);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mehritem {
  color: var(--cont);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.mehritemimg {
  max-height: 20vh;
  filter: brightness(70%);
  transition: all .5s ease;
}
.mehritemimg:hover {
  filter: brightness(100%);
}
.mehritemimgw {
  max-width: 80%;
  /* overflow-x: scroll; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  max-height: 80%;
}
.notiv {
  position: fixed;
  bottom: 10%;
  left: 1rem;
  background-color: var(--base);
  color: var(--cont);
  border-radius: .5rem;
  box-shadow: .5rem .5rem .5rem var(--base-d);
  padding: 1rem;
  z-index: 4;
  translate: -100vw;
  transition: all 1s ease;
}
.notiv-anim-in {
  translate: 0;
}
.notiv-anim-out {
  translate: -100vw;
}
.img-popupw {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  display: flex;
  place-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(1rem);
}
.img-popupw img {
  max-width: 80%;
  max-height: 80%;
}
.close-popup {
  color: var(--high);
  outline: solid 3px var(--high-d);
  border-radius: 40%;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  padding: .3rem;
  margin: 1rem;
  transition: all .5s ease;
  cursor: pointer;
}
.close-popup:hover {
  scale: 1.1;
  color: var(--high-l);
  outline: solid 0px var(--high-d);
  background-color: var(--high-d);
}
/*
                                 ,        ,
                                /(        )`
                                \ \___   / |
                                /- _  `-/  '
                               (/\/ \ \   /\
                               / /   | `    \
                               O O   ) /    |
                               `-^--'`<     '
                   TM         (_.)  _  )   /
|  | |\  | ~|~ \ /             `.___/`    /
|  | | \ |  |   X                `-----' /
`__| |  \| _|_ / \  <----.     __ / __   \
                    <----|====O)))==) \) /====
                    <----'    `--' `.__,' \
                                 |        |
                                  \       /
                             ______( (_  / \______
                           ,'  ,-----'   |        \
                           `--{__________)        \/
*/
.popup-content {
  color: var(--high);
  background-color: var(--base-l);
  padding: .5rem;
  border-radius: .5rem;
  margin: 0.5rem;
  transition: all .5s ease;
}
.popup-content:hover {
  background-color: var(--base);
  color: var(--high-l);
}
@media  (orientation: landscape){
  .card:hover .card-img-w{
    translate: 0 -90%;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: var(--base-l);
    position: relative;
    z-index: 3;
    padding: .5rem;
  }
}
@media  (orientation: portrait){
  .card .card-content{
    z-index: 4;
  }
  .card-img-w img {
    filter: brightness(40%);
  }
  footer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--base-l);
    position: relative;
    z-index: 3;
    padding: .5rem;
  }
}