:root {
        --high-1: 28;
        --high-2: 80%;
        --high-3-a: 10%;
        --high-3-b: 50%;
        --high-3-c-l: calc(var(--high-3-b) + var(--high-3-a));
        --high-3-c-d: calc(var(--high-3-b) - var(--high-3-a));
    --high: hsl(var(--high-1), var(--high-2), var(--high-3-b));
        --high-l:hsl(var(--high-1), var(--high-2), var(--high-3-c-l));
        --high-d: hsl(var(--high-1), var(--high-2), var(--high-3-c-d));
            --base-1: 209;
            /*
            209
            109
            309
            9
            */
            --base-2: 29%;
            --base-3-a: 5%;
            --base-3-b: 17%;
            --base-3-c-l: calc(var(--base-3-b) + var(--base-3-a));
            --base-3-c-d: calc(var(--base-3-b) - var(--base-3-a));
    --base: hsl(var(--base-1), var(--base-2), var(--base-3-b));
        --base-l:hsl(var(--base-1), var(--base-2), var(--base-3-c-l));
        --base-d:hsl(var(--base-1), var(--base-2), var(--base-3-c-d));
                /* --cont-base-rel-a: 260; 
            --cont-1: calc(var(--base-1) - var(--cont-base-rel-a)); */
            --cont-1: 100;
            --cont-2: 60%;
            --cont-3-a: 20%;
            --cont-3-b: 60%;
            --cont-3-c-l: calc(var(--cont-3-b) + var(--cont-3-a));
            --cont-3-c-d: calc(var(--cont-3-b) - var(--cont-3-a));
    --cont: hsl(var(--cont-1), var(--cont-2), var(--cont-3-b));
        --cont-l: hsl(var(--cont-1), var(--cont-2), var(--cont-3-c-l));
        --cont-d: hsl(var(--cont-1), var(--cont-2), var(--cont-3-c-d));
}
